# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).

.gcloudignore
.git
.gitignore
.next/
node_modules/
*.log
*.md
.env.local
.env.development
.env.test
.vscode/
.idea/
.DS_Store
*.pem
coverage/
.nyc_output/
dist/
tmp/
temp/
.firebase/
.firebaserc
firebase-debug.log
firestore-debug.log
pglite-debug.log
server.log